<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Edit Movie</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/sign.css') }}" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <form class="form-signin" method="post" action="/update?id={{ id }}">  
        <h2 class="form-signin-heading">Update Movie</h2>
        <div class="form-group">
          <label for="inputName" class="sr-only">Name</label>
          <input type="text" id="inputName" name="name" class="form-control" placeholder="{{ name }}" required autofocus>
        </div>

        <div class="form-group">
          <label for="inputName" class="sr-only">Timing</label>
          <input type="text" id="inputName" name="timing" class="form-control" placeholder="{{ timing}}" required autofocus>
        </div>

        <div class="form-group">
          <label for="inputName" class="sr-only">Location</label>
          <input type="text" id="inputName" name="location" class="form-control" placeholder="{{ location}}" required autofocus>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
      </form>

      <form class="form-signin" method="post" action="/delete?id={{ id }}">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Delete</button>
      </form>

    </div> 
      
  </body>
</html>
